body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login,.signup{
  width: 300px;
  text-align: center;
  margin: 0 auto;
}
.login input, .signup input{
  margin-bottom: 20px;
}

.login textarea{
  margin-bottom: 20px;
}
.edit{
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

.edit .form-group{
  margin-bottom: 20px;
}
